<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Nova Reserva</title>
  <link rel="stylesheet" href="assets/style.css">
  <script src="assets/script.js" defer></script>
</head>
<body onload="carregarSalas()">
  <header><h1>Nova Reserva</h1></header>
  <main>
    <label>Sala:</label>
    <select id="salaSelect"></select><br><br>
    <label>Responsável:</label>
    <input type="text" id="responsavel"><br><br>
    <label>Data:</label>
    <input type="date" id="data"><br><br>
    <label>Horário:</label>
    <input type="time" id="horario"><br><br>
    <button onclick="enviarReserva()">Enviar Reserva</button>
  </main>
</body>
</html>
